[submodule "nlassert"]
	path = third_party/nlassert/repo
	url = https://github.com/nestlabs/nlassert.git
	branch  = master
[submodule "nlio"]
	path = third_party/nlio/repo
	url = https://github.com/nestlabs/nlio.git
	branch  = master
[submodule "mbedtls"]
	path = third_party/mbedtls/repo
	url = https://github.com/ARMmbed/mbedtls.git
	branch = mbedtls-2.28
[submodule "qrcode"]
	path = examples/common/QRCode/repo
	url = https://github.com/nayuki/QR-Code-generator.git
	branch  = master
[submodule "pigweed"]
	path = third_party/pigweed/repo
	url = https://github.com/google/pigweed.git
	branch  = main
[submodule "openthread"]
	path = third_party/openthread/repo
	url = https://github.com/openthread/openthread.git
	branch  = main
[submodule "ot-br-posix"]
	path = third_party/ot-br-posix/repo
	url = https://github.com/openthread/ot-br-posix.git
	branch  = main
	platforms = linux
[submodule "cirque"]
	path = third_party/cirque/repo
	url = https://github.com/openweave/cirque.git
	branch  = master
	platforms = linux
[submodule "nanopb"]
	path = third_party/nanopb/repo
	url = https://github.com/nanopb/nanopb.git
	branch  = master
[submodule "freertos"]
	path = third_party/freertos/repo
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch  = V10.3.1-kernel-only
	platforms = ameba,cc13xx_26xx,bouffalolab,esp32,infineon,qpg,cc32xx,realtek
[submodule "third_party/openthread/ot-efr32"]
	path = third_party/openthread/ot-efr32
	url = https://github.com/SiliconLabs/ot-efr32.git
	branch  = matter_sve
	platforms = silabs,silabs_docker
[submodule "third_party/jsoncpp/repo"]
	path = third_party/jsoncpp/repo
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "third_party/silabs/matter_support"]
	path = third_party/silabs/matter_support
	url = https://github.com/SiliconLabsSoftware/matter_support.git
	branch = main
	platforms = silabs,silabs_docker,unit_tests
[submodule "third_party/silabs/simplicity_sdk"]
	path = third_party/silabs/simplicity_sdk
	url = https://github.com/SiliconLabs/simplicity_sdk.git
	branch = v2025.6.0
	platforms = silabs
[submodule "third_party/silabs/wifi_sdk"]
	path = third_party/silabs/wifi_sdk
	url = https://github.com/SiliconLabs/wiseconnect.git
	branch = v3.5.0
	platforms = silabs
[submodule "editline"]
	path = third_party/editline/repo
	url = https://github.com/troglobit/editline.git
[submodule "third_party/boringssl/repo/src"]
	path = third_party/boringssl/repo/src
	url = https://github.com/google/boringssl.git
	branch = master
[submodule "third_party/libwebsockets/repo"]
	path = third_party/libwebsockets/repo
	url = https://github.com/warmcat/libwebsockets
	branch = v4.4-stable
	platforms = linux,darwin,tizen
[submodule "third_party/imgui/repo"]
	path = third_party/imgui/repo
	url = https://github.com/ocornut/imgui
	platforms = linux
[submodule "perfetto"]
	path = third_party/perfetto/repo
	url = https://github.com/google/perfetto.git
	branch = master
	platforms = linux,android,darwin
[submodule "third_party/lwip/repo"]
	path = third_party/lwip/repo
	url = https://github.com/lwip-tcpip/lwip.git
	excluded-platforms = darwin
[submodule "third_party/abseil-cpp/src"]
	path = third_party/abseil-cpp/src
	url = https://github.com/abseil/abseil-cpp.git
	platforms = linux,darwin
[submodule "third_party/fuzztest"]
	path = third_party/fuzztest
	url = https://github.com/google/fuzztest.git
	platforms = linux,darwin
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
	platforms = linux,android,darwin,tizen
[submodule "third_party/libdatachannel/repo"]
	path = third_party/libdatachannel/repo
	url = https://github.com/paullouisageneau/libdatachannel.git
	platforms = linux,darwin
	recursive = true
[submodule "third_party/libtrustymatter/repo"]
	path = third_party/libtrustymatter/repo
	url = https://github.com/nxp-imx/libtrustymatter
[submodule "third_party/silabs/aws_ota_sdk/ota-for-aws-iot-embedded-sdk"]
	path = third_party/silabs/aws_ota_sdk/ota-for-aws-iot-embedded-sdk
	url = https://github.com/aws/ota-for-aws-iot-embedded-sdk.git
	platforms = silabs
