/*
 *    Copyright (c) 2024 Project CHIP Authors
 *    All rights reserved.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http: //www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

/ {
	chosen {
		zephyr,console = &ulpuart;
		zephyr,shell-uart = &ulpuart;
	};
};

&ulpuart {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&ulpuart_default>;
	pinctrl-names = "default";
};

/* Matter required multiples partition
 * 1. Bootloader for OTA
 * 2. Code partition
 * 3. Persistent storage
 * 4. Factory settings (certificate and others)
 */

&flash0 {
	status = "okay";
	partitions {
		boot_partition: partition@08202000 {
			label = "mcuboot";
			reg = <0x08202000 DT_SIZE_K(128)>;
		};

		slot0_partition: partition@08222000 {
			label = "image-0";
			reg = <0x08222000 DT_SIZE_K(2048)>;
		};

		slot1_partition: partition@08422000 {
			label = "image-1";
			reg = <0x08422000 DT_SIZE_K(2048)>;
		};

		storage_partition: partition@08622000 {
			label = "storage";
			reg = <0x08622000 DT_SIZE_K(64)>;
		};

		factory_partition: partition@08632000 {
			label = "factory-data";
			reg = <0x08632000 DT_SIZE_K(4)>;
		};

	};

};
