name: Open PR from csa to main

on:
    workflow_run:
        workflows: ["Daily Sync of the csa branch"]
        types:
            - completed
    workflow_dispatch:

jobs:
    open-pr:
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        runs-on: ubuntu-latest
        steps:
            - name: Generate token for the workflow
              id: generate_token
              uses: actions/create-github-app-token@v2
              with:
                  app-id: ${{ vars.SILABSSW_MATTER_CI_BOT_APP_ID }}
                  private-key:
                      ${{ secrets.SILABSSW_MATTER_CI_BOT_APP_PRIVATE_KEY }}
            - name: Mask the generated token
              run: echo "::add-mask::${{ steps.generate_token.outputs.token }}"

            - uses: actions/checkout@v4
              with:
                  ref: main
                  persist-credentials: false

            - name: Checkout csa-v1.5-branch
              run: |
                  git fetch origin csa-v1.5-branch:csa-v1.5-branch
                  git reset --hard csa-v1.5-branch

            - name: Create Pull Request
              uses: peter-evans/create-pull-request@v7
              with:
                  branch: automation/update_release_2.8-1.5
                  base: release_2.8-1.5
                  title: "Sync v1.5-branch branch with csa-v1.5-branch"
                  body: |
                      This PR syncs the v1.5-branch branch with the csa-v1.5-branch branch.

                      **PR MUST BE MERGED WITH MERGE COMMIT - ADMIN MUST ENABLE THE OPTION**
                  token: ${{ steps.generate_token.outputs.token }}
                  labels:
                      changing-git-submodules-on-purpose, sl-require-admin-action
