name: Daily Sync of the csa branch

permissions:
    contents: write

on:
    schedule:
        - cron: "0 0 * * *" # Runs once a day at midnight
    workflow_dispatch: # Allows manual triggering of the workflow

jobs:
    sync:
        if: github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest

        steps:
            - name: Checkout matter_sdk::csa branch
              uses: actions/checkout@v2
              with:
                  repository: SiliconLabsSoftware/matter_sdk
                  ref: csa
                  token: ${{ secrets.WORKFLOW_TOKEN }}

            - name: Add CSA repository remote
              run:
                  git remote add upstream
                  https://github.com/project-chip/connectedhomeip.git

            - name: Update the csa branch locally
              run: git pull upstream master

            - name: Push the update csa branch to the remote
              run: |
                  git push https://github.com/SiliconLabsSoftware/matter_sdk.git csa
